*{
    margin: 0;
}

body {
    background: black;
}

h1{
    color: white;
    font-family: monospace;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

p{
    color:whitesmoke;
    text-align: justify;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutme{
    padding-bottom: 10px;
}

main{
    padding: 10px;
    margin: auto;
}
main section .icono {
    margin-left: auto;
}

main section .principal {
    margin-right: 0 auto;
    text-align: center;
    padding-top: 0px;
}

main section > div{
    display: inline-block;
    vertical-align: top;

}

.icono{
    width: 30%;
}

.principal{
    width: 45%;
    padding-left: 5px;
    padding-right: 20px;
}

.links{
    text-align: center;
    width: 20%;
}

.twitter{
    border: solid 1px;
    padding: 10px 20px;
    font-family: sans-serif;
    color: aqua;
    font-size: 9px;
    padding-bottom: 10px;
}

.twitter:hover{
    background-color: lightblue;
}

.btn-twitter{
    text-decoration: none;
    color: white;
}

.instagram{
    border: solid 1px;
    padding: 10px 20px;
    font-family: Montserrat, sans-serif;
    color: purple;
    font-size: 9px;
}

.instagram:hover{
    background-color: plum;
}

.btn-instagram{
    color: white;
    text-decoration: none;
}

.linkedin{
    border: solid 1px;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    color: whitesmoke;
    font-size: 9px;
}

.linkedin:hover{
    background-color: darkblue;
}

.btn-linkedin{
    color: white;
    text-decoration: none;
}

.github{
    border: solid 1px;
    padding: 10px 20px;
    font-family: Monospace, sans-serif;
    color: whitesmoke;
    font-size: 9px;
}

.github:hover{
    background-color: white;
    color: black;
}

.btn-gthb{
    color: white;
    text-decoration: none;
}

.btn-gthb:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}

.twitch{
    border: solid 1px;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 9px;
}

.twitch:hover{
    background-color: purple;
}

.btn-twitch{
    color: white;
    text-decoration: none;
}

.ytbe{
    border: solid 1px;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 9px;
}

.ytbe:hover{
    background-color: darkred;
}

.btn-ytbe{
    color: white;
    text-decoration: none;
}
