* {
    margin: 0;
    padding: 0;
}

html{
    min-height: 100%;
}

body{
    background: black;
    color: white;
    text-align: center;
    min-height: 100%;
}

.tittle{
    padding-top: 30px;
}

p{
    color:whitesmoke;
    text-align: justify;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: white;
    font-family: monospace;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pfooter{
    padding-top: 15px;
    text-align: center;
}

.myphoto{
    width: 200px;
    height: 200px;
    margin: center;
    padding: 10px;
}

.aboutemail{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.header{
    grid-area: header;
}

.navbar{
    grid-area: navbar;
}

.sidebar{
    grid-area: sidebar;
}

.main{
    grid-area: main;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 20px;
}

.footer{
    grid-area: footer;
    padding-top: 15px;
    text-align: center;
}

.grid-container{
    display:grid;
    grid-template:
        "header"  100px
        "sidebar" 250px
        "navbar"  auto
        "main"    auto
        "footer"  50px
}

@media (min-width: 600px) {
    .grid-container{

        grid-template:
        "header  header"  100px
        "sidebar sidebar" 250px
        "main    navbar"  auto
        "footer  footer"  50px /
        auto     30%

    }
}

@media (min-width: 900px) {
    .grid-container{

        grid-template:
        "header  header  header"  100px
        "sidebar main    navbar"  auto
        "footer  footer  footer"  50px /
        30%      auto    20%

    }
}

.links{
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
}

.twitter{
    border: solid 1px;
    padding: 10px 20px;
    font-family: sans-serif;
    color: aqua;
    font-size: 9px;
    padding-bottom: 10px;
}

.twitter:hover{
    background-color: lightblue;
}

.btn-twitter{
    text-decoration: none;
    color: white;
}

.instagram{
    border: solid 1px;
    padding: 10px 20px;
    font-family: Montserrat, sans-serif;
    color: purple;
    font-size: 9px;
}

.instagram:hover{
    background-color: plum;
}

.btn-instagram{
    color: white;
    text-decoration: none;
}

.linkedin{
    border: solid 1px;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    color: whitesmoke;
    font-size: 9px;
}

.linkedin:hover{
    background-color: darkblue;
}

.btn-linkedin{
    color: white;
    text-decoration: none;
}

.github{
    border: solid 1px;
    padding: 10px 20px;
    font-family: Monospace, sans-serif;
    color: whitesmoke;
    font-size: 9px;
}

.github:hover{
    background-color: white;
    color: black;
}

.btn-gthb{
    color: white;
    text-decoration: none;
}

.btn-gthb:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}

.twitch{
    border: solid 1px;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 9px;
}

.twitch:hover{
    background-color: purple;
}

.btn-twitch{
    color: white;
    text-decoration: none;
}

.ytbe{
    border: solid 1px;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 9px;
}

.ytbe:hover{
    background-color: darkred;
}

.btn-ytbe{
    color: white;
    text-decoration: none;
}
